<label for="id">ID: </label> <br>
<input name="id" id="id" type="number" [(ngModel)]=" cliente.id " required> <br>
<br>

<label for="nome">Nome: </label> <br>
<input name="nome" id="nome" type="text" [(ngModel)]=" cliente.nome " required> <br>
<br>

<label for="sobrenome">Sobrenome: </label> <br>
<input name="sobrenome" id="sobrenome" type="text" [(ngModel)]=" cliente.sobrenome " required> <br>
<br>

<label for="senha">Senha: </label> <br>
<input name="senha" id="senha" type="password" [(ngModel)]=" cliente.senha " required> <br>
<br>

<label for="email">E-mail: </label> <br>
<input name="email" id="email" type="email" [(ngModel)]=" cliente.email " required> <br>
<br>

<label for="sexo">Sexo: </label> <br>
    <select name="sexo" id="estadoCivil">
      <option value="M">Masculino</option>
      <option value="F">Feminino</option>
    </select>
<br>
<br>

<label for="cpf">CPF: </label> <br>
<input name="cpf" id="cpf" type="text" maxlength="14" onkeydown="javascript: fMasc( this, mCPF );" [(ngModel)]=" cliente.cpf "> 
<br>
<br>

<label for="rg">RG: </label> <br>
<input name="rg" id="rg" type="text" [(ngModel)]=" cliente.rg "> 
<br>
<br>

<label for="telefone">Telefone: </label> <br>
<input name="telefone" id="telefone" type="text" maxlength="14" onkeydown="javascript: fMasc( this, mTel );" [(ngModel)]=" cliente.telefone "> 
<br>
<br>

<label for="dataNascimento">Data Nascimento: </label> <br>
<input name="dataNascimento" id="dataNascimento" type="date" [(ngModel)]=" cliente.dataNascimento "> 
<br>
<br>

<label for="estadoCivil">Estado Civil: </label> <br>
<select name="estadoCivil" id="estadoCivil">
    <option value="1">Solteiro</option>
    <option value="2">Casado</option>
    <option value="3">Divorciado</option>
    <option value="4">Viúvo</option>
    <option value="5">Separado</option>
</select>
<br>
<br>

<label for="cep">CEP: </label> <br>
    <input name="cep" id="cep" type="text" maxlength="15" onkeydown="javascript: fMasc( this, mCEP );" [(ngModel)]=" cliente.cep "> 
<br>
<br>

<label for="endereco">Endereço: </label> <br>
    <input name="endereco" id="endereco" type="text" [(ngModel)]=" cliente.endereco "> 
<br>
<br>

<p>
    <button (click)="salvar()">Salvar</button>
    <button [routerLink]="['/lista-cliente']">Cancelar</button>
    <button *ngIf="existe" (click)="excluir()">Excluir</button>
</p>